@keyframes flash {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  78%  { opacity: 1; }
  90%  { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes flash {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  78%  { opacity: 1; }
  90%  { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes flash {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  78%  { opacity: 1; }
  90%  { opacity: 0; }
  100% { opacity: 0; }
}

ul li {
  opacity: 0;
          animation-name: flash;
       -o-animation-name: flash;
     -moz-animation-name: flash;
  -webkit-animation-name: flash;
          animation-duration: 1s;
       -o-animation-duration: 1s;
     -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
          animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

ul .i0 {
          animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
ul .i1 {
          animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
ul .i2 {
          animation-delay: 2.5s;
       -o-animation-delay: 2.5s;
     -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
ul .i3 {
          animation-delay: 3.5s;
       -o-animation-delay: 3.5s;
     -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
}
